.sound-loopback-off-icon {
    background-image: url("icons/mic-off.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.sound-loopback-on-icon {
    background-image: url("icons/mic-on.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
}